# Simple .gitignore adapted from http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/

## Unity
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
 
## Visual Studio
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
 
## Windows
[Tt]humbs.db
[Dd]esktop.ini

## Mine
deployment/

